/* Starting styles */
*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: system-ui, sans-serif;
}

header {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
}

header h2 {
    color: white;
    font-family: "Freckle Face", system-ui;
    width: 2vw;
    height: 4vh;
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0 0.5vw;
}

header a {
    color: white;
    text-decoration: none;
}

main {
    width: 100vw;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.2)), url("swauv0e.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

p {
    color: white;
    font-weight: bold;
}

.outline {
    border: solid 10px orange;
    text-align: center;
    width: 60%;
    height: 40vh;
    margin: 0 0 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.outline h1 {
    color: orange;
    font-family: "Freckle Face", system-ui;
    font-size: 10vw;
    line-height: 1;
}

/* Social Media Bar */
.social-media-bar {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
}

.social-media-bar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.social-media-icons {
    width: 2vw;
    height: auto;
    max-height: 4vh;
    margin: 0.5vh 0;
    cursor: pointer;
}

/* Iframe */
.iframe {
    position: fixed;
    bottom: 2vh;
    left: 2vw;
    width: 20vw;
    height: 18vh;
    border: none;
    z-index: 1000;
}

/* Responsive: Phones */
@media screen and (max-width: 600px) {
    /* Header stacking */
    header {
        flex-direction: column;
        height: auto;
        padding: 1vh 0;
    }

    header h2 {
        width: auto;
        font-size: 6vw;
        margin-bottom: 1vh;
    }

    header ul {
        flex-direction: column;
        align-items: center;
    }

    header li {
        margin: 0.5vh 0;
    }

    main {
        height: auto;
        padding: 5vh 2vw;
        background-position: top center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .outline {
        width: 90%;
        height: auto;
        padding: 1em;
        border-width: 5px;
    }

    .outline h1 {
        font-size: 12vw;
        text-align: center;
    }

    /* Social media bar centered horizontally and relative */
    .social-media-bar {
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 2vh;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50px;
    }

    .social-media-bar ul {
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .social-media-icons {
        width: 10vw;
        max-height: 6vh;
        margin: 0 1vw;
    }

    /* Iframe centered horizontally and relative */
    .iframe {
        position: relative;
        left: auto;
        transform: none;
        width: 80vw;
        height: 25vh;
        margin-top: 3vh;
        bottom: auto;
    }
}

/* Responsive: Tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    header h2 {
        font-size: 4vw;
    }

    header li {
        margin: 0 1vw;
    }

    main {
        height: 95vh;
        background-position: center center;
    }

    .outline {
        width: 80%;
        height: 35vh;
        border-width: 8px;
    }

    .outline h1 {
        font-size: 10vw;
    }

    .social-media-bar {
        bottom: 2vh;
        right: 2vw;
    }

    .social-media-icons {
        width: 4vw;
        max-height: 5vh;
    }

    .iframe {
        width: 30vw;
        height: 20vh;
        bottom: 2vh;
        left: 2vw;
        position: fixed;
    }
}

/* Responsive: Desktops */
@media screen and (min-width: 1025px) {
}
